body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

a {
  color: white;
}

a:link {
  color: white;
  text-decoration: underline;
}

.content-container {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* HEADER */

header {
  margin-bottom: 30px;
  color: #767676;
}

.header__bg-wrapper {
  background-color: #dcdcdc;
  padding-top: 65px;
  padding-bottom: 65px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  max-width: 273px;
}

.header__logo-img {
  background-color: #767676;
  max-width: 100px;
  margin-right: 5px;
}

.header__title-company {
  display: inline-block;
  font-size: 24px;
  line-height: 0.9em;
}

.text-bold {
  font-weight: bold;
}

.header__tagline {
  font-size: 12px;
}

.header__contacts-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 24px;
  min-width: 260px;
}

.top-nav {
  color: white;
  background-color: #767676;
}

.top-nav__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  max-width: 1400px;
  margin: 0;
  padding: 0;
}

.top-nav__item {
  font-size: 24px;
  border-right: 1px solid white;
  max-width: 100%;
  padding: 0 20px;
}

.top-nav__item a:link {
  text-decoration: none;
}

.top-nav__item a:hover {
  text-decoration: underline;
}

.top-nav__item:last-child {
  border: none;
}

.header__img {
  min-height: 400px;
}

.block-hidden {
  display: none;
}

/* CONTAINER-NEWS-CONTENT */

.container-news-content {
  display: flex;
  margin-bottom: 195px;
}

.news {
  background-color: #767676;
  max-width: 350px;
  padding: 22px 36px;
  margin-right: 60px;
}

.news__title {
  font-size: 24px;
  color: white;
}

.news__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 14px;
  font-style: italic;
}

.news__item {
  margin-bottom: 15px;
}

.news__archive {
  text-align: right;
}

.news__archive a:hover {
  text-decoration: none;
}

.content {
  max-width: 580px;
  padding: 15px;
  font-size: 14px;
  color: #767676;
}

.content__title {
  letter-spacing: 1px;
}

/* FOOTER */

.footer {
  min-height: 220px;
  background-color: #767676;
  display: flex;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
}

.footer__nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__nav-item a:hover {
  text-decoration: none;
}

.footer__logo {
  display: flex;
}

.footer__logo-img {
  max-width: 36px;
  margin-right: 25px;
}

.footer__name-company {
  max-width: 180px;
}

.footer__name-company a:hover {
  color: white;
  text-decoration: none;
}
